<!DOCTYPE html>

<html>
    <head>
        <title>Error</title>
        <link rel="icon" href="/img/weather.png"> 
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <div id="content">
            {{>header}}
            {{>error}}
        </div>
    </body>
</html>