<div id="error">
    <div>Oops {{redirectPage}} Page Not Found</div>
    <div>Error 404</div>
    <div>Maybe you're looking for <a id="redirectPageLink" href="/{{redirectPage}}">{{redirectPage}}</a> page</div>
</div>