div#error, div#content #page-content--index #weather-data {
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
}

div#error, div#content #page-content--index #weather-data {
  padding: 10px;
  background: #272727;
  display: flex;
}

div#content #page-content--index #weather-data #outputMessage {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

* {
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: #333;
  font-family: "Fira Sans";
  color: #b3b3b3;
  user-select: none;
}

a {
  text-decoration: none;
  background: #151515;
  color: #b3b3b3 !important;
  padding: 5px;
}

div#content {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
div#content #page-content--index #weather-data {
  width: 50%;
  height: 50%;
  max-width: 750px;
  flex-direction: column;
}
div#content #page-content--index #weather-data #inputs {
  flex: 0 0 10%;
  display: flex;
}
div#content #page-content--index #weather-data #inputs input[type=text] {
  flex: 0 0 75%;
  border-radius: 5px;
  outline: none;
  border: none;
  background: #2f2f2f;
  padding: 5px;
  font-family: Consolas;
  font-weight: 500;
  color: white;
  text-align: center;
  font-size: 1.5em;
}
div#content #page-content--index #weather-data #inputs input[type=button] {
  flex: 0 0 25%;
  background: #131313;
  outline: none;
  border: none;
  border-radius: 0px 5px 5px 0px;
  cursor: pointer;
  color: #a5a5a5;
  font-family: Consolas;
  font-size: 1.5em;
}
div#content #page-content--index #weather-data #weather-content {
  flex: 0 0 80%;
  background: #212121;
  padding: 10px;
  display: flex;
  flex-direction: column;
}
div#content #page-content--index #weather-data #weather-content div {
  flex: 1 1 0;
  background: #1b1b1b;
  align-items: center;
  display: flex;
  padding: 10px;
  margin-bottom: 5px;
}
div#content #page-content--index #weather-data #weather-content div .weather_data-image {
  width: 20px;
  position: relative;
  top: -3px;
  background: #313131;
  padding: 3px;
  box-sizing: content-box;
  border-radius: 2px;
}
div#content #page-content--index #weather-data #weather-content div .weather_data-value {
  font-weight: bolder;
  width: 50%;
  height: 100%;
  background: #232323;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  text-align: center;
}
div#content #page-content--index #weather-data #outputMessage {
  width: 100%;
  background: black;
  text-align: center;
  border-radius: 5px;
  font-size: 1.2em;
  font-weight: bolder;
  flex: 0 0 10%;
}
div#content #page-content--about {
  text-align: center;
  line-height: 30px;
  font-size: 1.2em;
  padding: 10px;
}
div#content #page-content--about #weyder_brief_desc {
  font-size: 1.5em;
  font-weight: bolder;
  font-family: "Roboto Slab";
  line-height: 1.25em;
}
div#content #page-content--about .source_link {
  font-family: "Consolas";
  color: #6d6c6c !important;
}
div#content .page-content {
  flex: 0 0 95%;
  background: #1d1d1d;
}
div#content #footer {
  flex: 0 0 5%;
  text-align: center;
  align-items: center;
  display: flex;
}
div#content #footer #makerContainer {
  flex: 0 0 100%;
}
div#content #footer #makerContainer #makerLink {
  margin-left: 5px;
}
div#content #footer div#page_link {
  position: relative;
  left: -6%;
  display: flex;
  top: -6%;
}
div#content #footer div#page_link a {
  background-color: transparent;
  padding: 10px;
}
div#content #footer div#page_link a img {
  width: 20px;
}

div#error {
  flex-direction: column;
}
div#error div {
  text-align: center;
  padding: 5px;
}
div#error div #redirectPageLink {
  color: #b3b3b3;
}

div#content #page-content--index #weather-data, div#error {
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
}

div#content #page-content--index #weather-data, div#error {
  padding: 10px;
  background: #272727;
  display: flex;
}

div#content #page-content--index #weather-data #outputMessage {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

/*# sourceMappingURL=style.css.map */
